@import "components/courses";
@import "navigators/my-navbar";

html[data-theme='dark'] {
    h6 {
        color: get-dark-color('heading-color');
    }
}

#certification-badges-holder{
    display: flex;
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
}

#course-card-holder{
    display: flex;
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
  }

.education-section {
    h1 > span {
        margin-top: 0px; /* Size of fixed header */
        padding-bottom: 0px;
        display: block;
    }
}

.courses-section {
    h1 > span {
        margin-top: 0px; /* Size of fixed header */
        padding-bottom: 0px;
        display: block;
    }
}


// The Mulish font, we use font-weight 300 - 700
// @import '@fontsource/luckiest-guy';
// @import '@fontsource/anton';
// @import '@fontsource/smooch';

body {
    background-color: get-light-color('bg-primary');
    // font-family:  'Luckiest Guy', system-ui;
    font-family: 'Mulish';
  }

#home {
    padding-top: 4rem !important;
}