@import "components/courses";

html[data-theme='dark'] {
    h6 {
        color: get-dark-color('heading-color');
    }
}

#certification-badges-holder{
    display: flex;
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
}

.education-section {
    h1 > span {
        margin-top: 0px; /* Size of fixed header */
        padding-bottom: 0px;
        display: block;
      }
    }