@import "components/courses";
@import "navigators/navbar";

// get right color for h6 items
html[data-theme='dark'] {
    h6 {
        color: get-dark-color('heading-color');
    }
}

// fix space between education and above section
.education-section {
    h1 > span {
        margin-top: 0px; /* Size of fixed header */
        padding-bottom: 0px;
        display: block;
    }
}

// fix space between recent-posts and above section
.recent-posts-section {
    h1 > span {
        margin-top: 0px; /* Size of fixed header */
        padding-bottom: 0px;
        display: block;
    }
}
// add padding between navbar and home section (due to problem for small device)
#home {
    padding-top: 5rem !important;
}

// organize certificates
#certification-badges-holder{
    display: flex;
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically
}

// resize certificate-badge for small and tiny device
.certificate-badge{
    // padding-left: 2rem;
    // padding-right: 2rem;
    
    @include media('>=medium') {
        width: 200%;  // Adjust this percentage as needed
        height: auto; // Maintain aspect ratio
    }

    @include media('<=small') {
        width: 50%;  // Adjust this percentage as needed
        height: auto; // Maintain aspect ratio
    }

    @include media('<=tiny') {
        width: 30%;  // Adjust this percentage as needed
        height: auto; // Maintain aspect ratio
    }
}

#maldevacademy{
    width: 100%; /* Ensure the image fits within the container */
    transform: scale(1.9); /* Adjust the scale value to zoom in */
    transform-origin: center; /* Set the origin of the zoom to the center of the image */
    @include media('<=small') {
        padding-top: 40px;
        padding-bottom: 40px;
    }    
}

// trick to disable menu icons
.svg-inverted {
    filter: invert(0);
}